* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */

html {
    font-size: 10px;
}

/* ASSETS
#DDDDDD
#113C4A
#265A5C
#3F7B70
#8BBCCC
#FEC260
*/

@font-face {
    font-family: 'Inter-Regular';
    src: url("../fonts/Inter-Regular.ttf");
}

nav {
    color: #113C4A;
    font-family: 'Inter-Regular', sans-serif;
    display: flex;
    padding: 4% 3%;
    justify-content: space-between;
    height: 5vh;
}

nav h1 {
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 0.3rem;
}

nav ul {
    font-size: 1.5rem;
    display: flex;
    width: 50vw;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #113C4A;
}

nav ul li a:hover {
    font-weight: bold;
    color: #3F7B70;
}

nav ul li.nav__kontakt a {
    background-color: #265A5C;
    border: 2px solid #fff;
    padding: 1vh 4vw;
    color: #DDDDDD;
    border-radius: 4px;
}

nav ul li.nav__kontakt a:hover {
    background-color: #DDDDDD;
    border: 2px solid #265A5C;
    border-radius: 4px;
    color: #265A5C;
}